<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="dashboard/base::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>Document</title>
</head>

<body>

    <section>
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
            aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <li class="list-unstyled">
                    <ul><a class="text-decoration-none" th:href="@{/}">Home</a></ul>
                    <ul><a class="text-decoration-none" href="#">View Contacts</a></ul>
                    <ul><a class="text-decoration-none" href="#">Add Contacts</a></ul>
                    <ul><a class="text-decoration-none" href="#">Your profiles</a></ul>
                    <ul><a class="text-decoration-none" href="#">Settings</a></ul>
                    <ul><a class="text-decoration-none" th:href="@{/logout}">Logout</a></ul>
                </li>
            </div>
        </div>
    </section>

</body>

</html>